.Contact {
  max-width: 1310px;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;

  .ContactWrapper {
    padding: 40px 30px;
    border-radius: 20px;
    background: linear-gradient(180deg, #7dc7bb 0%, #12c4f6 100%);

    h3 {
      text-align: center;
      padding: 20px;
      font-size: 35px;
      color: #fff;
    }
    .ContactWrapperInner {
      padding: 30px;
      display: flex;
      align-items: center;
      background-color: rgb(255, 255, 255);
      backdrop-filter: blur(10px);
      border-radius: 20px;

      hr {
        height: 550px;
        width: 3px;
        background-color: #000000;
        outline: none;
        outline-style: none;
      }

      .Contacts {
        font-size: 20px;
        max-width: 400px;
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        li {
          border-bottom: 2px solid #000000;

          p {
            cursor: pointer;
            margin-bottom: 5px;
            font-size: 17px;
            &:hover {
              opacity: 0.7;
            }
          }
        }

        img {
          width: 40px;
          margin-bottom: 10px;
        }
      }

      .Form {
        padding: 10px 40px;

        h4 {
          font-size: 24px;
          font-weight: 700;
          line-height: 38px;
          margin-bottom: 10px;
        }

        p {
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          margin-bottom: 10px;
          max-width: 80%;
          //   letter-spacing: 0.5px;
          word-spacing: 1px;
        }

        form {
          display: flex;
          flex-direction: column;
          gap: 15px;
          input {
            width: 85%;
            padding: 16px 20px;
            font-size: 15px;
            font-weight: 400;
            color: #544e4e;
            border-radius: 5px;
            background-color: #10c6f842;
          }

          textarea {
            width: 85%;
            padding: 16px 20px 200px 20px;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
            color: #544e4e;
            border: none;
            background-color: #10c6f842;
            border-radius: 5px;
            margin-bottom: 20px;
            outline: none;
          }

          button {
            align-self: flex-end;
            padding: 18px 38px;
            border-radius: 10px;
            text-align: center;
            background: linear-gradient(
              180deg,
              #7dc7bb -33.33%,
              #18c4f3 138.27%
            );
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            line-height: 100%;
            border: 2px solid #fff;
            cursor: pointer;
            &:hover {
              background: #18c4f3de;
            }
          }
        }
      }
    }
  }
}
